.menu {
 &__btn {
  display: none;
 }
 &__list {
  display: flex;
 }
 &__item {
  display: inline-block;
  &:not(:last-child) {
   padding-right: 20px;
  }
  &.active a {
   text-decoration: underline;
  }
 }
 &__item-phone {
  display: none;
 }
}